/* Reset mínimo */
* { margin: 0; padding: 0; box-sizing: border-box; }

:root {
  --isepp-primary: #1B156B; /* 60% */
  --isepp-secondary: #7848FF; /* 30% */
  --isepp-accent: #FF7F1D; /* 10% */
}

html, body {
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
  color: #fff;
  background:
    radial-gradient(1200px 600px at 10% -10%, rgba(120, 72, 255, 0.3), transparent 60%),
    radial-gradient(900px 500px at 110% 110%, rgba(255, 127, 29, 0.2), transparent 60%),
    linear-gradient(160deg, #2E258A 0%, var(--isepp-primary) 85%);
  background-attachment: fixed;
  overflow-x: hidden;
}