/* Reset mínimo */
* { margin: 0; padding: 0; box-sizing: border-box; }

:root {
  --isepp-primary: #1B156B; /* 60% */
  --isepp-secondary: #7848FF; /* 30% */
  --isepp-accent: #FF7F1D; /* 10% */
}

html, body {
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
  color: #2E258A; /* Cambiado a color oscuro para contraste */
  background-color: #f4f4f7; /* Fondo gris claro y neutro */
  background-image:
    radial-gradient(circle at 5% 5%, rgba(120, 72, 255, 0.08), transparent 35%),
    radial-gradient(circle at 95% 95%, rgba(255, 127, 29, 0.06), transparent 35%);
  background-attachment: fixed;
  overflow-x: hidden;
}